/*
Author: Chen Xianzhe
Date: 11/10/2025
File Name: styles.css
*/

body,
header,
nav,
main,
footer,
h1,
div,
img,
ul {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	/* Add the body selector */
	background-color: #000;
	/* Set the background colour */
}

/* Closing brace for the body selector */

img {
	max-width: 100%;
	display: block;
}

header {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: #000;
	height: 190px;
}

header img {
	margin: 0 auto;
}


nav {
	padding: 1%;
	margin-bottom: 1%;
}

main {
	clear: left;
	/* clears a float to the left */
}

nav ul {
	/* add the ul selector nested within a nav element */
	list-style-type: none;
	/* Remove the bullet marker */
	text-align: center;
	/* Align the unordered list to the right */
}

#intro {
	text-indent: 2em;

	background-color: #042b72;
	border-radius: 8px;
	color: #fff;
	padding: 10px;
	margin-bottom: 10px;
}

.zdycn {
	overflow: hidden;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.zdycn .list {
	box-sizing: border-box;
	float: left;
	width: 48%;
	margin-right: 4%;
	color: #000;
	background-color: orange;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 4%;
}

.zdycn .list h1 {
	background-color: #042b72;
	border-radius: 8px;
	color: #fff;
	display: inline-block;
	padding: 0 20px;
	margin-bottom: 10px;
}

.zdycn .list img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 8px;
}


@media screen and (max-width: 768px) {
	.zdycn .list img {
		width: 100%;
		height: auto;
		object-fit: cover;
	}
}

.zdycn .list:nth-child(2n) {
	margin-right: 0;
}

#Check_tooth,
#Check_Tools,
#Tooth_Room,
#Doctor_Check {}

.round {
	border-radius: 8px;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px) {

	/* Tablet Viewport: Show tablet-desktop class, hide mobile class */
	.tablet-desktop {
		display: block;
	}

	.mobile {
		display: none;
	}

	/* Tablet Viewport: Style rule for header */
	header {
		position: static;
		padding-bottom: 2%;
	}

	/* Tablet Viewport: Style rules for nav area */
	nav li {
		border-top: none;
		display: inline-block;
		border: 1px solid #fff;
	}


	nav li a {
		padding: 0.1em 0.75em;
	}

	/* Media Query for Desktop Viewport */
	@media screen and (min-width: 769px) {

		/* Desktop Viewport: Style rule for header */
		header {
			width: 25%;
			float: left;
			padding-bottom: 0;
		}
	}
	/* Desktop Viewport: Style rules for nav area */
	nav {
		float: right;
		width: 70%;
		margin: 7em 1em 0 0;
	}

	nav ul {
		text-align: right;
	}

	nav li {
		border: none;
	}

	nav li a {
		padding: 0.5em 1em;
	}

	main {
		clear: left;
	}

	main h1 {
		font-size: 1.8em;
	}

	#weights,
	#cardio,
	#training {
		width: 29%;
		float: left;
		margin: 0 2%;
	}

	#exercises {
		clear: left;
	}

}

/*media query closing brace*/


/*#exercises { clear: left;
             border-top: 1px solid #000;
             border-bottom: 1px solid #000;
             background-color: #f2f2f2;
             padding: 1% 2%;
}
#exercises dt { font-weight: bold; 
} 
#exercises dd { 
padding: 0.5% 1% 2% 0; 
}*/

/* Add Black Point */
.check-list {
    list-style-type: disc;      /* Black */
    padding-left: 1.2em;        /* Let the Black spots show */
    color: #fcfbfb;                /* color Black */
}
.check-list li {
    margin: .3em 0;
    line-height: 1.5;
}

.hero-welcome {
    text-align: center;          /* Center horizontally */
    margin: 1rem auto;           /* Leave some breathing space above and below. */
    display: block;              /* Ensure you occupy a single row */
    font-size: 1.8em; */
}

/*.search-li{ margin-left:auto; }
.search-bar{ display:flex; align-items:center; }
.search-bar input{ width:140px; padding:0.3em 0.5em; font-size:0.9em; border:1px solid #ccc; border-radius:4px 0 0 4px; border-right:0; }
.search-bar button{ padding:0.3em 0.6em; font-size:0.9em; background:#1300F8; color:#fff; border:none; border-radius:0 4px 4px 0; cursor:pointer; }*/



#contact {
	text-align: center;
}

#contact a {
	color: #ffff00;
	text-decoration: none;
}

nav li {
	font-size: 1.5em;
	font-family: 'Francois One', sans-serif;
	border: 1px solid #fff;
}

nav li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.5em 1em;
	text-decoration: none;
}

/* Show mobile class, hide tablet-desktop class */
.mobile {
	display: block;
}

.tablet-desktop {
	display: none;
}

main {
	clear: left;
	background-color: #fff;
	padding: 2%;
	font-size: 1.15em;
	font-family: 'Roboto Slab', serif;
}

.hours {}

.tel-link {
	background: #fff;
	padding: 2%;
	margin: 0 auto;
	width: 80%;
	text-align: center;
	border-radius: 5px;
}

.tel-link a {
	color: #042b72;
	text-decoration: none;
	font-size: 1.5em;
	display: block;
}

.action {
	font-size: 1.35em;
	color: #666600;
	font-weight: bold;
}

footer p {
	font-size: 0.75em;
	text-align: center;
	color: #fff;
	padding: 0 1em;
}

footer p a {
	color: #fff;
	/* Sets the link colour */
	text-decoration: none;
}